<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>blah.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>blah2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>classwork.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>crackers.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>introduction.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>scenario.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F72913E317F5FDF5001C60B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F73E13481802C77E007C8637</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F74D7DE117F041A2001913DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F7A9FA8A18081E550073D5EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F7C7A7911830C85900ACA553</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F7C7A7A21830D4E300ACA553</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F7F9217F17FE85CA007CBBAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
